.App {
  text-align: center;
  max-width: 1920px;
  min-width: 320px;
  margin: auto;
}

/* Errors */

.errors {
  list-style: none;
}

.errors_userPlant{
  list-style: none;
  margin-left: -40px;
  inline-size: 200px;
}

/* NavBar */

#navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #31473a;
  font-size: 20px;
  margin-bottom: 30px;
}

#logged-in-user {
  color: white
}

#navbar-title {
  color: #edf4f2;
  margin: 1em;
  font-size: 40px;
  font-weight: 1000;
}

#navbar-links {
  padding: 1em;
}

.navlink {
  padding: .50em;
  margin-right: 5px;
  background-color: #7c8363;
  color: white;
  font-size: larger;
  text-decoration: none;
  border-radius: 5px;
  text-decoration: none;
}

.navlink:hover {
  background-color: #edf4f2;
  color: black;
}

#account-display {
  display: flex;
  justify-content: space-between;
}

#navlink-account-edit {
  padding: .50em;
  background-color: #7c8363;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-decoration: none;
}

#navlink-account-edit:hover {
  background-color: #edf4f2;
  color: black;
}

/* *********** */

/* Home */

#home-summary {
  width: 50%;
  text-align: left;
  margin: auto;
}

#my-plant-card-cont {
  border: 10px solid;
  border-top-color: #7c8363;
  border-left-color: #31473a;
  border-right-color: #31473a;
  border-bottom-color: #7c8363;
  background-color: #edf4f2;
  display: flex;
  width: 75%;
  height: 35em;
  margin: auto;
  padding: 10px;
  flex-direction: row;
  max-height: 1000px;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: scroll;
}

/*********************/

/* Plants */

#plant-card-cont {
  border: 10px solid;
  border-top-color: #7c8363;
  border-left-color: #31473a;
  border-right-color: #31473a;
  border-bottom-color: #7c8363;
  background-color: #edf4f2;
  display: flex;
  width: 75%;
  height: 50em;
  margin: auto;
  padding: 10px;
  flex-direction: row;
  max-height: 1000px;
  align-content: flex-start;
  flex-flow: row wrap;
  overflow: scroll;
}

.plant-card {
  border: 2px solid black;
  min-width: 12em;
  height: 12em;
  padding: 5px;
  margin: 10px;
  overflow: hidden;
}

.plant-card:hover {
  background-color: #31473a;
  color: white;
  cursor: pointer;
}

.plant-card:active {
  background-color: rgb(0, 71, 71);
}

.plant-card-img {
  width: 70%;
  height: 75%;
}

#plant-cont-buttons {
  padding: 30px;
  width: 75%;
  margin: auto;
}

.plant-button {
  padding: 10px 50px;
  font-size: large;
  border-radius: 5px;
  background-color: #31473a;
  color: white;
  border-color: #31473a;
  border-style: none;
}

#add-plant-button:hover {
  background-color: #7c8363;
}

#plant-search-cont {
  margin-bottom: 20px;
}

#plant-search {
  width: 30%;
  margin-right: 10px;
}

#plant-sort {
  margin-right: 5px;
}

.add-plant-checkbox {
  margin-right: 10px;
}

/*************/

/*Plant Info*/

.plant-info-cont {
  margin-left: 10%;
}

.plant-info-img {
  max-width: 75%;
  margin: auto;
}

.plant-info-delete-btn {
  background-color: red;
  border-color: red;
}

/*************/

/* New Account */

.new-account-cont {
  margin: auto;
  position: relative;
  border: 1px solid;
  width: 50%;
  padding-bottom: 10px;
}

#new-account-input-cont {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.new-account-input {
  width: 25%;
  margin: 5px auto;
}

#create-account-btn {
  padding: .50em;
  background-color: #31473a;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

/*******************/

/*Login*/

#login-submit-btn {
  width: 90px;
  margin: auto;
}

/***********/

/* Articles */

#articles-cont {
  border: 10px solid;
  border-top-color: #7c8363;
  border-left-color: #31473a;
  border-right-color: #31473a;
  border-bottom-color: #7c8363;
  background-color: #edf4f2;
  display: flex;
  max-width: 50%;
  height: 50em;
  margin: auto;
  padding: 10px;
  flex-direction: row;
  max-height: 1000px;
  justify-content: left;
  align-content: flex-start;
  flex-flow: column wrap;
  overflow: scroll;
}

.article-card-link {
  margin-inline-end: auto;
  padding: .50em;
  margin-right: 5px;
  background-color: #7c8363;
  color: white;
  font-size: larger;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 5px;
}

.article-link {
  margin-inline-end: auto;
  margin-right: 5px;
  color: white;
  font-size: larger;
  text-decoration: none;
  border-radius: 5px;
}

.article-card-link:hover {
  background-color: #31473a;
  cursor: pointer;
}

.article-link:hover {
  color: white;
}

#add-article-button {
  padding: .50em;
  background-color: #31473a;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border-color: #31473a
}

.article-edit-body-cont {
  width: 90%;
  height: 30em;
}

/**************/

/* EditAccount */

#edit-account-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#update-user-btn {
  width: 100px;
  margin: auto;
  margin-top: 10px;
}

/**************/