.App {
  text-align: center;
  max-width: 1920px;
  min-width: 320px;
  margin: auto;
}

/* NavBar */

#navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: seagreen;
  font-size: 20px;
}

#navbar-title {
  color: burlywood;
  margin: 1em;
}

#navbar-links {
  padding: 1em;
}

.navlink {
  padding: .50em;
}


/* *********** */

/* Home */

#home-summary {
  width: 50%;
  text-align: left;
  margin: auto;
}