.App {
  text-align: center;
  max-width: 1920px;
  min-width: 320px;
  margin: auto;
}

/* NavBar */

#navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: seagreen;
  font-size: 20px;
  margin-bottom: 30px;
}

#navbar-title {
  color: burlywood;
  margin: 1em;
  font-size: 40px;
  font-weight: 1000;
}

#navbar-links {
  padding: 1em;
}

.navlink {
  padding: .50em;
  margin-right: 5px;
  background-color: rgb(99, 53, 25);
  color: white;
  font-size: larger;
  text-decoration: none;
}

.navlink:hover {
  background-color: #945620;
  color: white;
}

/* *********** */

/* Home */

#home-summary {
  width: 50%;
  text-align: left;
  margin: auto;
}

/*********************/

/* Plants */

#plant-card-cont {
  border: 10px solid;
  border-top-color: #945620;
  border-left-color: #5D3614;
  border-right-color: #5D3614;
  border-bottom-color: #945620;
  display: flex;
  width: 75%;
  height: 50em;
  margin: auto;
  padding: 10px;
}

.plant-card {
  border: 2px solid black;
  width: 12em;
  height: 12em;
  padding: 5px;
  margin: 10px;
  overflow: hidden;
}

.plant-card:hover {
  background-color: teal;
  cursor: pointer;
}

.plant-card:active {
  background-color: rgb(0, 71, 71);
}

.plant-card-img {
  width: 70%;
  height: 75%;
}

#plant-cont-buttons {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: auto;
}

.plant-button {
  padding: 10px 50px;
  font-size: large;
}

/*************/

/*Plant Info*/

.plant-info-cont {
  margin-left: 10%;
}

.plant-info-img {
  max-width: 75%;
  margin: auto;
}

/*************/